h1 {
    color: #e06a6a;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: $font-family-sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0;
}

.app-content {
  padding-left: 41px;
  padding-right: 41px;
  word-wrap: break-word;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

hr {
    margin-top: 20px;
    margin-bottom: 33px;
    border-top: 1px dotted #e06a6a;
}

.modal-footer {
  border-top: 0px;
}

.row {
  margin-bottom: 10px;
}

.app-book-details {
  height: 350px;
  background: #fcf8e3;
  padding-top: 18px;
  position: fixed;
  right: 34px;
}

.app-no-book-detail {
  text-align: center;
  vertical-align: middle;
  line-height: 330px;
}

.app-book-to-loan {
  border: 2px solid #3a9c6f;
  background-color: #f5fffa;
}

.nav-pills.app-nav-bar-filter-my-books li.active a {
  color: black;
  background-color: white;
  border-bottom: 2px solid green;
}

.app-underline-sub-title {
  border-bottom: 1px solid #cca435;
  margin-bottom: 10px;
}

.app-user-image-feed {
  height: 40px;
}

.app-user-message-image {
  height: 62px;
}

.app-media-user-message {
  padding: 10px;
  border: 1px solid gainsboro;
  cursor: pointer;
}

.app-chat-content {
  border: 1px solid gainsboro;
  height: 600px;
  max-height: 600px;
  overflow: auto;
  margin-right: -15px;
}

.app-user-image-message {
  height: 70px;
  width: 70px;
}

.app-user-image-message-content {
    height: 30px;
    width: 30px;
}

.app-message-user-selected {
  background-color: #e8e8e8;
}

.app-message-content {
  background-color: #e8e8e8;
  padding: 9px;
  margin: 5px 10px 0px 10px;
}