.btn.app-btn-title {
  margin-top: 24px;
}

.btn {
  border-radius: 0;
  &.btn-success {
    background-color: $btn-success-color;
    border-color: $btn-success-color;
  }
}

.btn.app-btn-to-loan {
  width: 197px;

  &.app-btn-active-loan {
    background-color: #ffffff;
    border-color: #3a9c6f;
    color: black;
  }
}

.btn-group-justified.app-btn-group-space .btn-group {
  padding-right: 2px;
}
