.thumbnail {
  &.app-profile-image {
    height: 255px;
    width: auto;
  }
  &.app-book-image {
    height: 173px;
    width: 116px;
    & img {
      height: 162px;
      width: 105px;
    }
  }
}

.app-book-gallery {
  display: flex;
}
