<template>
    <div class="row">
        <div class="col-md-12">
            <div v-for="book in books" class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <a :href="'/users/' + book.user.id">{{ book.user.name }} </a> added a book to loan.
                    </p>
                    <a class="card-header-icon">
                      <span class="icon">
                          <a :href="'/users/' + book.user.id">
                              <img :src="book.user.image ? '/images/' + book.user.image : '/assets/images/user-def.jpg'" class="app-user-image-feed">
                          </a>
                      </span>
                    </a>
                </header>
                <div class="card-content">
                    <div class="content">
                        <img v-if="book.images.length > 0" :src="'images/' + book.images[0].thumb_path" />
                        <img v-else src="/assets/images/book-def.jpg" />
                        <p v-if="book.loan_duration">
                           Loans for {{ book.loan_duration }} days.
                        </p>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group card-footer-item app-btn-gold" role="group">
                            <a :href="'/messages/' + book.user.id + '/' + book.id" class="btn btn-default app-btn-gold">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i> Send Message
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            books: {
                required: true
            }
        }
    }
</script>