<template>
    <div>
        <div class="row">
            <div class="col-md-3 app-underline-sub-title">
                <strong>Books To Loan</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input v-model="search" class="form-control" placeholder="search">
                </div>
            </div>
        </div>

        <div v-if="books && books.length > 0 && !isLoading" class="row">
            <div v-for="book in books" class="col-sm-6 col-md-3">
                <div class="thumbnail" :class="{'app-book-to-loan' : book.to_loan}">
                    <div class="caption text-center">
                        <a :href="'/books/' + book.id">
                            {{ book.title}}
                            <br>
                            <small> by {{ book.author }}</small>
                            <img v-if="book.images.length > 0" :src="'/images/' + book.images[0].path" />
                            <img v-else src="/assets/images/book-def.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="books && books.length === 0" class="row">
            <div class="alert alert-warning col-md-5" role="alert">
                This user doesn't have any book to loan.
            </div>
        </div>

        <div v-if="isLoading">
            <loading :loading="isLoading" size="100px"></loading>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            userId: {
                required: true

            }
        },

        data() {
            return {
                books: null,
                isLoading: false,

                search: ''
            }
        },

        created() {
            this.getUserBooks();
        },

        methods: {
            /**
             * Get users books
             */
            getUserBooks() {
                this.isLoading = true;

                let params = this.getParams();

                this.$http.get('/users/' + this.userId + '/getBooks', {params}).then((response) => {

                    this.books = response.body.books;
                    this.isLoading = false;

                }, (response) => {
                    this.isLoading = false;
                });
            },


            /**
             * Get all the filters to make a request
             */
            getParams() {
                return {
                    search: this.search
                }
            },
        },

        watch: {
            search: debounce(function() {
                this.getUserBooks()
            }, 300),
        }
    }
</script>