<template>

    <span>
        <modal id="formBookModal" :buttonText="isCreating ? 'Add Book' : 'Edit Book'">

            <span slot="header">
                <h4 class="modal-summary">
                    {{ isCreating ? 'Add book to mey shelf' : 'Edit this book'}}
                </h4>
            </span>

            <span slot="body">
                <form @submit.prevent>

                    <div class="row">
                        <div class="col-md-5 app-underline-sub-title">
                            <strong>Please fill the book details below</strong>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Title -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="required" for="title">Title</label>
                                <input v-validate data-vv-rules="required|min:2|max:50" v-model="model.title"
                                       id="title" name="title" type="text" class="form-control"
                                       :class="{'app-input-error': errors.has('title')}"/>
                                <p><span class="app-message-error">{{ errors.first('title') }} </span></p>
                            </div>
                        </div>
                        <!-- Author -->
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="required" for="author">Author</label>
                                <input v-validate data-vv-rules="required|min:2|max:50" v-model="model.author"
                                       id="author" name="author" type="text" class="form-control"
                                       :class="{'app-input-error': errors.has('author')}"/>
                                <p><span class="app-message-error">{{ errors.first('author') }} </span></p>
                            </div>
                        </div>
                        <!-- Pages -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="required" for="pages">Pages</label>
                                <input v-validate data-vv-rules="required|min:1" v-model="model.pages"
                                       id="pages" name="pages" type="number" class="form-control"
                                       :class="{'app-input-error': errors.has('pages')}"/>
                                <p><span class="app-message-error">{{ errors.first('pages') }} </span></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Summary -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="required" for="summary">Summary</label>
                                <textarea v-validate data-vv-rules="required|min:10|max:400" v-model="model.summary"
                                          id="summary" name="summary" class="form-control"
                                          :class="{'app-input-error': errors.has('summary')}">
                                </textarea>
                                <p><span class="app-message-error">{{ errors.first('summary') }} </span></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Language Id -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="required" for="language_id">Language</label>
                                <select v-validate data-vv-rules="required|numeric" v-model="model.language_id"
                                        name="language_id" id="language_id" data-placeholder="Choose a language"
                                        class="form-control">
                                    <option v-for="(language, key) in languages" :value="key">{{ language }}</option>
                                </select>
                                <p><span class="app-message-error">{{ errors.first('language_id') }} </span></p>
                            </div>
                        </div>
                        <!-- Format Id -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="required" for="format_id">Format</label>
                                <select v-validate data-vv-rules="required|numeric" v-model="model.format_id"
                                        name="format_id" id="format_id" data-placeholder="Choose a format"
                                        class="form-control">
                                    <option v-for="(format, key) in formats" :value="key"> {{ format }} </option>
                                </select>
                                <p><span class="app-message-error">{{ errors.first('format_id') }} </span></p>
                            </div>
                        </div>
                        <!-- Genre Id -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="required" for="genre_id">Genre</label>
                                <select v-validate data-vv-rules="required|numeric" v-model="model.genre_id"
                                        name="genre_id" id="genre_id" data-placeholder="Choose a genre"
                                        class="form-control">
                                    <option v-for="(genre, key) in genres" :value="key"> {{ genre }} </option>
                                </select>
                                <p><span class="app-message-error">{{ errors.first('genre_id') }} </span></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Year -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="required" for="year">Year</label>
                                <input v-validate data-vv-rules="required|digits:4" v-model="model.year"
                                       id="year" name="year" type="text" class="form-control"
                                       :class="{'app-input-error': errors.has('year')}"/>
                                <p><span class="app-message-error">{{ errors.first('year') }} </span></p>
                            </div>
                        </div>
                        <!-- ISBN -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="required" for="isbn">ISBN</label>
                                <input v-validate data-vv-rules="required|numeric|min:10|max:13" v-model="model.isbn"
                                       id="isbn" name="isbn" type="text" class="form-control"
                                       :class="{'app-input-error': errors.has('isbn')}"/>
                                <p><span class="app-message-error">{{ errors.first('isbn') }} </span></p>
                            </div>
                        </div>
                        <!-- Publisher -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="required" for="publisher">Publisher</label>
                                <input v-validate data-vv-rules="required|min:3|max:30" v-model="model.publisher"
                                       id="publisher" name="publisher" type="text" class="form-control"
                                       :class="{'app-input-error': errors.has('publisher')}"/>
                                <p><span class="app-message-error">{{ errors.first('publisher') }} </span></p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Image -->
                        <div class="col-md-12">
                            <image-upload ref="imageUploader" id="image" :initial-images="images"
                                          :remove-url="isCreating ? null : '/books/removeImage'">
                            </image-upload>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-5 app-underline-sub-title">
                            <strong>Please fill the loan details below</strong>
                        </div>
                    </div>

                    <div class="row">
                        <!-- To Loan -->
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="loan_duration">To Loan</label>
                                <br>
                                <div class="btn-group admin-toggle-button" id="toggle-trash-btn" data-toggle="buttons">
                                    {{ model.to_loan }}
                                <label @click="model.to_loan = 1" class="btn btn-default btn-on" :class="{'active': model.to_loan == 1}">
                                    <input type="radio">Yes</label>
                                <label @click="model.to_loan = 0" class="btn btn-default btn-off" :class="{'active': model.to_loan == 0}">
                                    <input type="radio">No</label>
                            </div>
                        </div>
                        </div>
                        <!-- Loan Duration -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="loan_duration">Loan Duration (in days)</label>
                                <input v-validate data-vv-rules="numeric" v-model="model.loan_duration"
                                       id="loan_duration" name="loan_duration" type="text" class="form-control"
                                       :class="{'app-input-error': errors.has('loan_duration')}"/>
                                <p><span class="app-message-error">{{ errors.first('loan_duration') }} </span></p>
                            </div>
                        </div>
                    </div>
                </form>
            </span>

            <span slot="footer">
                 <button v-if="!isLoading" @click="submitForm" type="submit" class="btn btn-success btn-lg btn-group-justified">
                    {{ isCreating ? 'Create Book' : 'Edit Book' }}
                     <i v-if="isCreating" class="fa fa-chevron-right" aria-hidden="true"></i>
                     <i v-else class="fa fa-check" aria-hidden="true"></i>
                </button>
                <button v-else class="btn btn-success btn-lg btn-group-justified disabled">
                    <loading :loading="isLoading" size="30px"></loading>
                </button>
            </span>

        </modal>
    </span>

</template>

<script>
    export default {

        props: {
            /*
             * It informs if the user is creating or editing
             */
            isCreating: {
                type: Boolean,
                default: true
            },

            /*
             * This is necessary when the user is editing
             */
            initialModel: {
                type: Object,
                default: function () { return {} }
            },
        },

        data() {
            return {
                model: {
                    id: this.initialModel.id,
                    title: this.initialModel.title,
                    summary: this.initialModel.summary,
                    year: this.initialModel.year,
                    author: this.initialModel.author,
                    pages: this.initialModel.pages,
                    isbn: this.initialModel.isbn,
                    publisher: this.initialModel.publisher,
                    language_id: this.initialModel.language_id,
                    format_id: this.initialModel.format_id,
                    genre_id: this.initialModel.genre_id,
                    loan_duration: this.initialModel.loan_duration,
                    to_loan: this.initialModel.to_loan
                },

                images: this.initialModel.images,

                languages: null,
                formats: null,
                genres: null,

                isLoading: false
            };
        },

        created() {
            this.getData();

            bus.$on('changeLoading', this.changeLoading);
            bus.$on('finishSubmit', this.finishSubmit);
        },

        destroyed() {
            bus.$off('changeLoading', this.changeLoading);
            bus.$off('finishSubmit', this.finishSubmit);
        },

        methods: {
            /**
             * Get all the books
             */
            getData () {

                this.changeLoading();

                this.$http.get('/books/create').then((response) => {

                    this.languages = response.body.languages;
                    this.formats = response.body.formats;
                    this.genres = response.body.genres;

                    this.changeLoading(false);

                }, (response) => { this.changeLoading(false); });
            },

            /**
             * 1- Validate form and submit it.
             * 2- Upload the images (and waits for the finishSubmit event)
             */
            submitForm() {

                this.$validator.validateAll().then(success => {

                    if (! success) {
                        console.log("Error submitting");
                        return;
                    }

                    this.changeLoading();

                    this.$http[this.getMethod](this.getRequestURL, this.model).then((response) => {

                        // now that we have the id we can upload the image
                        if(this.isCreating) {
                            this.$refs.imageUploader.uploadImages('/books/' + response.body.book.id + '/addImage');
                        } else {
                            this.$refs.imageUploader.uploadImages('/books/' + this.model.id + '/addImage');
                        }

                    }, (response) => { this.changeLoading(false); });
                });
            },

            /**
             * Finish the create/edit after the images upload!
             */
            finishSubmit() {
                if(this.isCreating) {

                    bus.$emit('getBooks');
                    bus.$emit('closeModal');

                     // clear the form
                     for (var key in this.model) {
                         if (this.model.hasOwnProperty(key)) {
                            this.model[key] = '';
                         }
                     }

                    this.changeLoading(false);

                } else {
                    location.reload();
                }

            },

            /**
             * Change the isLoading property
             */
            changeLoading(isLoading = true) {
                this.isLoading = isLoading;
            }
        },

        computed: {
            getRequestURL() {
                return this.isCreating ? '/books' : '/books/' + this.model.id
            },
            getMethod() {
                return this.isCreating ? 'post' : 'put';
            }
        }
    }
</script>