<template>

    <div>

        <br>
        <br>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input v-model="search" class="form-control" placeholder="search">
                </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <ul class="nav nav-pills nav-justified app-nav-bar-filter-my-books">
                    <li @click="changeFilter(1)" role="presentation" :class="{'active': 1 === activePill }">
                        <a href="#">All</a>
                    </li>
                    <!--<li @click="changeFilter(2, 1)" role="presentation" :class="{'active': 2 === activePill }">
                        <a href="#">To Loan</a>
                    </li>-->
                </ul>
            </div>
        </div>

        <div v-if="books && !isLoading" class="row">
            <div v-for="book in books" class="col-sm-6 col-md-3">
                <div class="thumbnail" :class="{'app-book-to-loan' : book.to_loan}">
                    <div class="caption text-center">
                        <a :href="'/books/' + book.id">
                            {{ book.title}}
                            <br>
                            <small> by {{ book.author }}</small>
                            <img v-if="book.images.length > 0" :src="'/images/' + book.images[0].path" />
                            <img v-else src="/assets/images/book-def.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="books && books.length === 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                        You don't have any books.
                    </div>
                </div>
            </div>
        </div>

        <div v-if="isLoading">
            <loading :loading="isLoading" size="100px"></loading>
        </div>

    </div>

</template>

<script>
    export default {
        data () {
            return {
                books: null,

                search: '',

                isLoading: false,

                activePill: 1
            }
        },

        created() {
            this.getBooks();

            bus.$on('getBooks', this.getBooks);
        },
        destroyed() {
            bus.$off('getBooks', this.getBooks);
        },

        methods: {
            /**
             * Get all the books
             */
            getBooks () {

                let params = this.getParams();

                this.isLoading = true;
                this.$http.get('/books', {params}).then((response) => {

                    this.books = response.body.books;
                    this.isLoading = false;

                }, (response) => {
                    this.isLoading = false;
                });
            },

            /**
             * Get all the filters to make a request
             */
            getParams() {
              return {
                  search: this.search
              }
            },

            /**
             * Change the active pill
             * @param key
             */
            changeFilter(key) {
                this.activePill = key;
                this.getBooks({
                    justToLoan
                });
            }
        },

        watch: {
            search: debounce(function() {
                this.getBooks()
            }, 300),
        }
    }
</script>