<template>
    <div class="form-group">

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div v-if="images && images.length > 0" v-for="image in images" >
                        <div class="col-md-2">
                            <img  :src="'/images/' + image.thumb_path" class="app-images-preview"/>
                            <br>
                            <button type="button" class="btn btn-danger btn-group-justified" @click="deleteImageFromServer(image)">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span v-if="images && images.length < 5 ">
                    <label :for="id">Image <small>(Up to 5 pictures)</small></label>
                    <dropzone :ref="id" :id="id" url="/" :headers="headers" :autoProcessQueue="options.autoProcessQueue"
                              :thumbnailHeight="options.thumbnailHeight" :thumbnailWidth="options.thumbnailWidth"
                              @vdropzone-file-added="fileAdded"
                              @vdropzone-removed-file="fileRemoved"
                              @vdropzone-success="showSuccess"></dropzone>
                </span>
                <span v-else>
                    <div class="alert alert-warning">
                        Sorry, you just can upload 5 pictures. Please delete one of the above.
                    </div>
                </span>

            </div>
        </div>

    </div>
</template>

<script>
    import Dropzone from 'vue2-dropzone'

    export default {
        components: {Dropzone},

        props: {
            id: { required: true },
            removeUrl: { default: null },
            initialImages: { type: Array, default: function () { return [] } }
        },

        data() {
            return {
                /**
                 *  Images
                 */
                images: this.initialImages,

                /**
                 *  Upload data
                 */
                options: {
                    autoProcessQueue: false,
                    thumbnailHeight: 150,
                    thumbnailWidth: 150
                },
                headers: {
                    'X-CSRF-TOKEN': Laravel.csrfToken
                },
                totalFiles: 0,
                uploadFiles: 0
            }
        },

        methods: {
            /**
             * Increment the total files
             */
            fileAdded() {
                if(this.totalFiles < 5) {
                    this.totalFiles = this.totalFiles + 1;
                }
            },

            /**
             * Decrement the total files
             */
            fileRemoved() {
                this.totalFiles = this.totalFiles - 1;
            },

            /**
             * Upload the Images
             * This method is called by the parent when necessary.
             * For each upload is necessary to listen for the 'showSuccess' event
             */
            uploadImages(url) {
                if(this.totalFiles > 0) {
                    this.$refs[this.id].setOption('url', url);
                    this.$refs[this.id].processQueue();
                } else {
                    bus.$emit('finishSubmit');
                }
            },

            /**
             * This event is necessary to notify the parent that the upload is completed!
             * Just when ALL the files are uploaded!
             */
            showSuccess() {
                this.uploadFiles = this.uploadFiles + 1;

                if(this.uploadFiles === this.totalFiles) {
                    this.uploadFiles = 0;
                    this.totalFiles = 0;

                    bus.$emit('finishSubmit');
                } else {
                    this.$refs[this.id].processQueue();
                }
            },

            /**
             * Delete the image from server
             */
            deleteImageFromServer(image) {

                this.$http.delete(this.removeUrl + '/' + image.id).then((response) => {

                    let index = this.images.indexOf(image);
                    this.images.splice(index, 1);

                }, (response) => {});
            },

        },
    }
</script>