<template>

    <span>
        <!-- Modal Button -->
        <button id="show-modal" type="button" class="btn btn-success" @click="showModal = true">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ buttonText }}
        </button>

        <transition name="modal">
            <div v-if="showModal" @close="showModal = false" class="modal-mask" >
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <div class="row">
                                <div class="col-md-8">
                                    <slot name="header" class="text-left"></slot>
                                </div>
                                <div v-if="!noClose" class="col-md-1 col-md-offset-3">
                                    <button class="btn btn-danger modal-default-button" @click="showModal = false">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="modal-body">
                            <slot name="body"></slot>
                        </div>

                        <div class="modal-footer">

                            <div class="btn-group btn-group-justified" role="group">
                                <slot name="footer"></slot>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </transition>

    </span>

</template>

<script>
    export default {
        props: {
            id: {
                required: true
            },
            noClose: {
                default: false
            },
            buttonText: {
                default: 'Add'
            }
        },

        created() {
            bus.$on('closeModal', this.closeModal);
        },

        destroyed() {
            bus.$off('closeModal', this.closeModal);
        },

        data() {
            return {
                showModal: false
            }
        },

        methods: {
            closeModal() {
                this.showModal = false;
            }
        }
    }
</script>