<template>

    <div>

        <form-book></form-book>

        <index-book></index-book>

    </div>

</template>

<script>
    import FormBook from './partials/form-book.vue'
    import IndexBook from './partials/index-book.vue'

    export default {
        components: {FormBook, IndexBook},
    }
</script>