<template>
    <div class="row">

        <div class="col-md-12">
            <div class="btn-group" role="group">
                <!-- Edit Button-->
                <form-book :initial-model="book" :is-creating="isCreating"></form-book>

                <!-- Delete Button -->
                <button @click="deleteBook" type="button" class="btn btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                </button>
            </div>
        </div>

    </div>
</template>

<script>
    import FormBook from './partials/form-book.vue'

    export default {

        components: {FormBook},

        props: {
            book: {
                required: true
            }
        },

        data() {
            return {
                isCreating: false
            }
        },

        methods: {
            /**
             * Make the ajax request to delete the book
             */
            deleteBook() {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then(() => {
                    this.$http.delete('/books/' + this.book.id ).then((response) => {

                        window.location = "/books";

                    }, (response) => {
                        location.reload();
                    });
                }, () => {
                    //cancel action
                })
            }
        }
    }
</script>

