<template>
    <div>
        <span v-if="!isLoading">
            <button @click="addToLoan" class="btn btn-group-justified btn-success app-btn-to-loan" :class="{'app-btn-active-loan': toLoan}">
                <span v-if="toLoan">
                    Remove from loan
                </span>
                <span v-else>
                    Add to loan
                </span>
            </button>
        </span>
        <button v-if="isLoading" class="btn btn-group-justified btn-success app-btn-to-loan">
            <loading :loading="isLoading" size="15px"></loading>
        </button>

    </div>
</template>

<script>
    export default {
        props: {
            id: {
                required: true
            },
            initialToLoan: {
                required: true
            }
        },

        data() {
            return {
                toLoan: this.initialToLoan,

                isLoading: false
            }
        },

        methods: {
            /**
             * Add the book to loan
             */
            addToLoan() {
                this.isLoading = true;

                this.$http.post('/books/' + this.id + '/toggleToLoan').then((response) => {

                    this.toLoan = !this.toLoan;
                    this.isLoading = false;

                }, (response) => {
                    this.isLoading = false;
                });
            }
        }
    }
</script>