<template>

    <div>

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <strong><small>Users</small></strong>
            </div>
            <div class="col-sm-8 col-md-8">
                <strong><small>Chat</small></strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">

                <div v-for="user in users" class="media app-media-user-message" :class="{'app-message-user-selected': user === selectedUser}" @click="getMessages(user)">
                    <div class="media-left media-middle">
                        <img :src="user.image ? 'images/' + user.image : '/assets/images/user-def.jpg'" class="media-object app-user-message-image">
                    </div>
                    <div class="media-body">
                        <p class="media-heading">
                            {{ user.name }}
                            <span v-if="user.count_not_read_messages > 0" class="label label-danger">{{ user.count_not_read_messages}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-8">
                <div class="row app-chat-content">

                    <div v-if="messages && messages.length > 0" v-for="message in messages" class="col-md-11 app-message-content">
                        <div class="media">
                            <div class="media-left">
                                <img :src="message.user_from.image ? 'images/' + message.user_from.image : '/assets/images/user-def.jpg'"
                                     class="media-object app-user-image-message-content">
                                {{ message.user_from.name}}
                            </div>
                            <div class="media-body">
                                <p>
                                    <strong>{{ message.message }}</strong>
                                </p>
                                <p class="pull-right">
                                    <small>{{ message.created_at }}</small>
                                </p>
                            </div>
                        </div>

                    </div>

                    <div v-if="isLoading">
                        <loading :loading="isLoading" size="100px"></loading>
                    </div>

                </div>

                <div v-if="selectedUser">
                    <div class="input-group">
                        <textarea v-model="message" @keyup.enter="sendMessage" id="message" name="message" class="form-control" rows="2"></textarea>
                        <span class="input-group-btn">
                            <button v-if="!isSendingMessage" @click="sendMessage" class="btn btn-success btn-group-justified"> Send </button>
                            <button v-else class="btn btn-success btn-lg btn-group-justified disabled">
                                <loading :loading="isSendingMessage" size="30px"></loading>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        props: {
            authUserId: {
                required: true
            },
            initialUsers: {
                required: true
            }
        },

        data() {
            return {
                users: this.initialUsers,
                messages: null,

                isLoading: false,

                selectedUser: null,

                isSendingMessage: false,
                message: ''
            }
        },

        methods: {
            /**
             * Get the messages between the users
             */
            getMessages(user) {
                this.messages = [];
                this.isLoading = true;
                this.selectedUser = user;

                this.$http.get('/messages/' + user.id).then((response) => {

                    this.selectedUser = user;

                    this.messages = response.body.messages;

                    let index = this.users.indexOf(user);
                    this.users[index].count_not_read_messages = 0;

                    this.isLoading = false;

                }, (response) => {
                    this.isLoading = false;
                });
            },

            /**
             * Validate the message and send it.
             * Push the new message to the messages array and clear the message.
             */
            sendMessage() {
                if(this.message && /\S/.test(this.message) && this.message.length > 1) {
                    this.isSendingMessage = true;

                    this.$http.post('/messages/' + this.selectedUser.id, {message: this.message}).then((response) => {

                        this.messages.push(response.body.message);
                        this.message = '';
                        this.isSendingMessage = false;

                    }, (response) => {
                        this.isSendingMessage = false;
                    });
                }
            }
        }
    }
</script>