<template>
    <div>
        <form @submit.prevent>
            <div class="form-group">
                <label class="required" for="message">Message</label>
                <textarea v-validate data-vv-rules="required|min:2|max:400" v-model="model.message"
                          id="message" name="message" class="form-control"
                          :class="{'app-input-error': errors.has('message')}" rows="13">
                </textarea>
                <p><span class="app-message-error">{{ errors.first('message') }} </span></p>
            </div>
            <button v-if="!isLoading" @click="sendMessage" class="btn btn-success btn-group-justified"> Send Message </button>
            <button v-else class="btn btn-success btn-lg btn-group-justified disabled">
                <loading :loading="isLoading" size="30px"></loading>
            </button>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            userId: {
                required: true
            },
            bookId: {
                default: null
            }
        },

        data() {
            return {
                model: {
                    message: ''
                },
                isLoading: false
            }
        },

        methods: {
            /**
             * Validate form and submit it
             */
            sendMessage() {

                this.$validator.validateAll().then(success => {

                    if (! success) {
                        console.log("Error submitting");
                        return;
                    }

                    this.isLoading = true;

                    this.$http.post('/messages/' + this.userId + '/' + this.bookId, this.model).then((response) => {

                        window.location = "/messages";

                    }, (response) => {
                        this.isLoading = false;
                    });
                });
            },
        }
    }
</script>