<template>
    <div>
        {{ books }}
    </div>
</template>

<script>
    export default {
        props: {
            initialBooks: {
                required: true
            }
        },

        data() {
            return {
                books: this.initialBooks
            }
        }
    }
</script>